<!DOCTYPE <!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Esskeetit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/estilos.css" />
    <link href="https://file.myfontastic.com/DtueZxpVJhuAnZwTS5bZ3b/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
         aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <a class="navbar-brand" href="#">Elevator</a>
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li class="nav-item active">
             <a class="nav-link" href="post_list.html">Inicio <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="sobrenosotros.html">Sobre Nosotros</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="Contactanos.html"> Contactarnos 
             </a>
           </li>
        
           <li class="nav-item">
             <a class="nav-link disabled" href="#"></a>
           </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
           <a href="Iniciosesion.html">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Iniciar Sesión</button>
         </a>
         </form>
       </div>
     </nav>
    <div class="banner">
        <img src="img/contacta.jpg" alt="" class="banner__img">
        <div class="contenedor">
            <h2 class="banner__titulo">No dudes en Hablarnos para ayudarte</h2>
            <p class="banner__txt">Llena el formulario y nos contactaremos a la brevedad contigo</p>
        </div>
    </div>

    <div class="estilo-fondo">
            <div class="estilo-container-registro">
    
                <form action="" method="post" id="formulario-registro" class="container formulario-registro">
                    <div class="titulos estilo-container-registro">
                        <b>Contactanos</b>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-6 font-formulario">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3 font-formulario">
                            <label for="nombres">Nombres:</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombre" maxlength="15">
                        </div>
                        <div class="form-group col-md-6 mb-3 font-formulario">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" maxlength="15">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3 font-formulario">
                            <label for="telefono">Telefono de contacto:</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="912345678">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="region" class="font-formulario">Región</label>
                            <select class="form-control" id="regiones" name="regiones" required>
                            </select>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="comunas" class="font-formulario">Ciudad</label>
                            <select class="form-control" id="comunas" name="comunas" required>
                            </select>
                        </div>
                    </div>
                    </div>
                    
                    <div class="form-row">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-md boton-enviar" name="enviar">Enviar</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="PieDePagina">
            <center>
                <br>
                <p>
                        Elevation SA  - Prestigio y Elegancia
                </p>
            </center>
    
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="js/regiones-ciudades.js"></script>
<script src="js/validaciones.js"></script>
<script src=""></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<script>src="js/menu.js"</script>


</body>
</html>

    